#cv{
    height: 100vh;
    width: 50vw;
    border-style: solid;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description{
    width: 95%; 
    height: 20%;
    border-style: solid;
}

#details-container{
    margin-top: 1em;
    height: 80%;
    width: 95%;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0 0 .5em 0;
    height: 10%;
    font-size: 1.5rem;
}

#experience{
    margin-top: 1em;
    height: 33%;
    border-style: solid;
    padding: 0 1em 2em 1em;
}

#details{
    
    padding: 1em;
    height: 90%;
    display: flex;
    flex-direction: row;
    border-style: solid;
}

#date{
    height: 2rem;
    width: 15%;
    border-style: solid;
}

#explanation{
    width: 75%;
    border-style: solid;
    margin-left: 2em;
}

#sidebar{
    border-style: solid;
    margin: 1em 1em 1em 0;
}
*{
    box-sizing: border-box;
}