#cv{
    min-height: fit-content;
    height: 100vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fff;
    color: #000;
    font-family: arial;
  
}


#cv-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Main container section styling*/

#themes{
    display: flex;
    flex-direction: row;
}
.colour{
    height: 2rem;
    width: 2rem;
    border-style: none;
    border-radius: 50%;
    margin: 0 0 1em .5em;
}

.colour:hover{
    transform: scale(1.2);
}

#red{
    background-color: #cf6679;
}

#teal{
    background-color: #03dac6;
}

#blue{
    background-color: #3358fa;
}

#purple{
    background-color: #bb86fc;
}

#main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#self-description{
    width: 95%; 
    height: 15%;
    margin-top: 1em;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1rem;
}

#self-description p{
    margin: 0;
    padding: .5em;
    word-wrap: break-word;
    height: 100%;
}


/*Details section styling*/

#details-container{

    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#info h1{
    margin: 0;
    padding-left: .5em;
    height: fit-content;
    font-size: 1.5rem;
    width: 100%;
    background-color: #825caf;
    color: #fff;
}

#details{
    padding: 1em;
    display: flex;
    flex-direction: row;
}

#date-container{
    width: 15%;
    display: flex;
    flex-direction: column;
}

#date{
    height: 2rem;
    margin-top: .2em;
}

#explanation{
    width: 75%;
    margin-left: 2em;
    padding: 0 .5em;
}

#explanation p{
    margin: none;
}

#cv-position{
    font-weight: bold;
}

/*Sidebar styling*/

#sidebar{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    background-color: #bb86fc;
    color: #000;
    border-left: solid #000;
    border-width: 1px;
}

#header{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
}

#image{
    height: 10rem;
    width: 10rem;
    border-style: solid;
    border-radius: 50%;
    margin: 1em 0 0 1em;
}

#name{
    display: grid;
    grid-template-rows: 1fr .5fr;
    width: 100%;
    margin: .4em;
}

#application-title{
    font-size: 1.5rem;
    color:rgb(31, 31, 31);
}
#name p{
    margin: 0;
}

#personal-info, #languages-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
}

#section-header{
    width: 100%;
    height: 2.5rem;
    background-color: #825caf;
    font-size: 1.5rem;
    padding-left: .2em;
    box-sizing: border-box;
}

#contact-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1em;
}

#contact-details p{
    width: 90%;
    margin: 0;
}

#contact-details img{
    height: 2.5rem;
    margin-right: .2em;
}

#contact-container{
    width: 90%;
    align-self: center;
}

#languages-container ul{
    list-style: none;
}

#language-display{
    display: flex;
    flex-direction: row;
}

#language-display p{
    width: 100%;
    text-align: right;
    margin-right: 1em;
}

#language-display img{
    height: 60px;
}

#email-address{
  font-size: 1.2rem;
}
/*Miscellaneous*/

#cv-title{
    text-align: center;
    margin: 0;
}

#download{
    height: fit-content;
    width: fit-content;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

@media screen and (max-width: 768px){
    #cv{
        width: 90vw;
        height: fit-content;
    }

    #section-header{
        height: fit-content;
    }
}